AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-southeast-2

S3_BUCKET_NAME=ismap-data-lake

RDS_HOST=your-rds-endpoint.rds.amazonaws.com
RDS_PORT=5432
RDS_DATABASE=ismap_warehouse
RDS_USER=admin
RDS_PASSWORD=your_password

KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

ALERT_EMAILS=your.email@example.com
RDS_DB_INSTANCE_IDENTIFIER=your-rds-instance-id
LAMBDA_FUNCTIONS=trigger_glue,extract_holidays_lambda
PIPELINE_LOG_GROUPS=/aws/lambda/trigger_glue,/aws-glue/jobs/output,/aws-glue/jobs/error
